body {
    font-family: sans-serif;
    background-color: rgb(223, 250, 255);
}
#titulo {
    text-align: center; 
    color: rgb(12, 12, 12);
}
.menu {
    margin: 10px;
}
.menu ul {
    background-color: rgb(119, 250, 255);
    padding: 20px 0px;
    padding-left: 0px;
    border: 5px #000000 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu ul li {
    list-style-type: none;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}
.menu ul li a:hover{
    color: #ffffff;
}
.meio {
    background-color:  rgb(119, 250, 255);
}
.meio h1 {
    text-align: center;
    margin: 0px;
}
.meio h3 {
    margin: 10px;
}
.meio form fieldset{
    display: flex;
    flex-direction: column;
    border: 0px;
}
.meio form fieldset #email{
    padding: 10px;
    margin: 5px;
    border: none;
}.meio form fieldset #email:focus{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}

.meio form fieldset #senha{
    padding: 10px;
    margin: 5px;
    border: none;
}
.meio form fieldset #senha:focus{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}

.meio form fieldset #botaoLogin{
    text-decoration: none;
    margin: 5px;
    border: none;
    font-size: 16px;
    padding: 10px 4px;
}
.meio form fieldset #botaoLogin:hover{
    background-color: rgb(110, 110, 248);
}
.meio form fieldset a{
    text-decoration: none;
    color: black;
}
.meio form fieldset #botaoCadastrar{
    text-decoration: none;
    margin: 5px;
    border: none;
    font-size: 16px;
    padding: 10px 4px;
}
.meio form fieldset #botaoCadastrar:hover{
    background-color: rgb(110, 110, 248);
}