body {
    font-family: sans-serif;
    background-color: rgb(223, 250, 255);
}
#titulo {
    text-align: center; 
    color: rgb(12, 12, 12);
}
.menu {
    margin: 10px;
}
.menu ul {
    background-color: rgb(119, 250, 255);
    padding: 20px 0px;
    padding-left: 0px;
    border: 5px #000000 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu ul li {
    list-style-type: none;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}
.menu ul li a:hover{
    color: #ffffff;
}
.meio {
    background-color:  rgb(119, 250, 255);
}
.meio h1 {
    text-align: center;
    margin: 0px;
}
.meio h3 {
    margin: 10px;
}
.meio form fieldset{
    display: flex;
    flex-direction: column;
    border: 0px;
}
.meio form fieldset #email{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
}.meio form fieldset #email:focus{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}

.meio form fieldset #senha{
    padding: 10px;
    margin: 5px;
    border: 2px;
    border: 2px solid black;
    border-radius: 4px;
}
.meio form fieldset #senha:focus{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}
/*
.campo label{
    margin-bottom: 0.3em;
    color: black;
    display: block;
}
.campo input[type="email"] {
    padding: 0.8em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.campo input[type="password"] {
    padding: 0.8em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.meio ul li {
    display: inline;
}
.meio ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
.meio ul li a:hover{
    color: #dbfeff;
}
.btn{
    border: none;
    background: #f8f8f8;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 650;
}
.btn:hover{
    background-color:  #000000;
    color: #fff;
    cursor: pointer;
}
.btn2{
    cursor: pointer;
    width: 50%;
    padding: 18px;
    margin-left: 48%;
    margin-bottom: 10%;
    border: none;
    border-radius: 32px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}
.btn2:hover{
    background: #ffffff;
    color: #000000;
}
.projeto {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
.missao {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
.visao {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
.valores {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
.valores nav{
    text-align: center;
    background-color:  rgb(119, 250, 255);
}

.quem {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
/*
@media only screen and (max-width: 1170px){
    img{
        position: absolute;
        top: 40%;
        right:30%;
    }
    .meio{
        display:block;
    }
} 
*/