body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}
#caixa-titulo {
    text-align: center; 
    border-radius: 50px;
    color: cornsilk;
}
.menu ul {
    margin-left: 25%;
    margin-right: 25%; 
    border-radius: 5px;
    box-shadow: 0 0 1em 1em rgb(0 0 0 / 10%);
    background-color: rgb(119, 250, 255);
    padding: 0px 20px;
}
.menu ul li {
    display: flex; 
}

.menu ul li a {
    padding: 20px;
    display: flex;
    color: black;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ffffff;
}

.meio {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%; 
    padding:25px 35px 25px 25px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
    display: inline-block;
}

#meio-titulo{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#campo-email{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;  
}

fieldset {
    border: none;
}

input{
    border-radius: 5px;
}

.campo label{
    margin-bottom: 0.3em;
    color: black;
    display: block;
}


.campo input[type="email"] {
    padding: 0.8em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo input[type="password"] {
    padding: 0.8em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.meio ul li {
    display: inline;
}

.meio ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.meio ul li a:hover{
    color: #dbfeff;
}

.btn{
    border: none;
    background: #f8f8f8;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 650;
    padding: 10px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.btn:hover{
    background-color:  #000000;
    color: #fff;
    cursor: pointer;
}

.btn2{
    cursor: pointer;
    width: 50%;
    padding: 18px;
    margin-left: 48%;
    margin-bottom: 10%;
    border: none;
    border-radius: 32px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

.btn2:hover{
    background: #ffffff;
    color: #000000;
}
@media only screen and (max-width: 1230px){
img{
    position: absolute;
    top: 40%;
    right:30%;
    }
}
.projeto {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}

.missao {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}

.visao {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}

.valores {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}

.valores nav{
    text-align: center;
    background-color:  rgb(119, 250, 255);
}

.texto{
    margin-left: 35%;
    text-align: left;
}

.quem {
    text-align: center;
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%; 
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(119, 250, 255);
}
@media only screen and (min-width: 1230px) and (max-width: 2560px){
    img{
    position: absolute;
    top: 40%;
    right:30%;

    }
    .meio{
        display:block;
    }
} 